.start{
    position: relative;
    left: 15px;
    width: 15%;
}

.end{
    position: relative;
    left: 65%;
    width: 15%;
    margin-top: 15px;

}
.content{
    
}
.table{
    text-align: center;
}
.image{
    width: 100%;
}