.start{
    position: relative;
    left: 15px;
    width: 15%;
}

.end{
    position: relative;
    left: 65%;
    width: 15%;
    margin-top: 15px;

}
.content{
    
}
.table{
    text-align: left;
}
.image{
    width: 100%;
    border: 2px solid ;
    min-height: 100%;
}

body{
    font-size: 9px;
}
html{
    border: 4px solid ;
    min-height: 100%;
}
footer{
    border: 2px solid ;
    min-height: 100%;
}

