<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/certificado.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Certificado</title>
</head>
<body>
    <div class="image">
        <img src="../../img/logo_aleph.png" class="rounded float-start" alt="..." width="200" height="200">
        <img src="../../img/logo2.png" class="rounded float-end" alt="..." width="180" height="180">
    </div> 
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"colspan="4">CERTIFICADO DE CALIBRACION N° LSCD 029-2021</th>
                </tr>
                <tr>
                    <th scope="col" colspan="4">Autorizacion de Servicios: S0576.E4</th>
                </tr>
                <tr>
                    <th scope="col" colspan="4">LABORATORIO SECUNDARIO DE CALIBRACIONES DOSIMETRICAS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1. Cliente</td>
                    <td>:</td>
                    <td>
                        ALEPH SAC
                        <br>Av. Rafael Escardo 154
                        <br>San Miguel, Lima, Lima, Perú
                    </td>
                    <td rowspan="3" width="185px">Este certificado solo puede ser difundido completamente y sin modificadores. Los extractos o modificadores requieren la autorizacion por escrito de ALEPH SAC.</td>
                </tr>
                <tr>
                    <th scope="row">2. Referencia</td>
                    <td>:</td>
                    <td>OT 111-12925</td>
                </tr>
                <tr>
                    <th scope="row">3. Lugar de calibracion</td>
                    <td>:</td>
                    <td>LSCD de ALEPH S.A.C</td>
                </tr>
                <tr>
                    <th scope="row">4. Equipo calibrado</td>
                    <td>:</td>
                    <td>Monitor de radiacion (digital)
                        <br>Marca monitor: MGP
                        <br>Modelo monitor: DMC 2000S
                        <br>Serie monitor: 690384T
                    </td>
                    <td rowspan="3">El resultado de este certificado es valido solo para el equipo calibrado, refiriendose al momento y condiciones en que se realizaron las mediciones y no deben utilizarse como certificado de conformidad con normas de producto o como certificado del sistema de calidad </td>
                </tr>
                <tr>
                    <th scope="row">5. Metodo de calibracion</td>
                    <td>:</td>
                    <td>Campo de radiacion calibrado usando un fantoma, segun ISO 4037-3 (2019), aplicando al PROC-LSCD-012 calibracion de dosimetros personales (version 05)</td>
                </tr>
                <tr>
                    <th scope="row">6. Tazabilidad</td>
                    <td>:</td>
                    <td>Camara de ionizacion patron de 1 L ,marca: PTW; modelo: TN32002; modelo: TN32002; serie: 000568; Reporte de calibracion de Kerma en aire DG: 13580-21 con fecha 2021-04-01 (NIST); trazable al </td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">7. Condiciones de calibracion</th>
                    <td></td>
                    <td></td>
                    <td>El certificado sin sello ni firma, carece de valor</td>
                </tr>
                <tr>
                    <td scope="row">Calidad de radiacion</td>
                    <td>:</td>
                    <td>S-Cs(ISO 4037-3)</td>
                    <td rowspan="6">La incertidumbre reportada en el presente certificado es la incertidumbre expandida de medicion que resulta de multiplicar la incertidumbre estandar combinada por el factor de cobertura k = 2, de modo que la probabilidad de cobertura                           corresponde aproximadamente a un nivel de confianza del 95%</td>
                </tr>
                <tr>
                    <td scope="row">Magnitud</td>
                    <td>:</td>
                    <td>Dosis equivalente personal, Hp(10)</td>
                </tr>
                <tr>
                    <td scope="row">Temperatura ambiental</td>
                    <td>:</td>
                    <td>Inicio: 20.2°C; Final: 20.3°C</td>
                </tr>
                <tr>
                    <td scope="row">Presion atmosferica</td>
                    <td>:</td>
                    <td>Inicio: 1,010.0 hPa; Final: 1,010.2 hPa</td>
                </tr>
                <tr>
                    <td scope="row">Humedad relativa</td>
                    <td>:</td>
                    <td>Inicio: 52% ; Final: 53%</td>
                </tr>
                <tr>
                    <td scope="row">Geometria de calibracion</td>
                    <td>:</td>
                    <td>Eje longitudinal del detector paralelo al eje central del haz de radiacion</td>
                </tr>
                <tr>
                    <td scope="row">Punto de referencia</td>
                    <td>:</td>
                    <td>Centro geometrico del volumen sensible del detector</td>
                </tr>
                <tr>
                    <th scope="row">8. Fecha de calibracion</th>
                    <td>:</td>
                    <td>2021-05-20</td>
                </tr>
                <tr>
                    <th scope="row">9. Fecha de emision</th>
                    <td>:</td>
                    <td>2021-05-20</td>
                </tr>
                <tr>
                    <th scope="row">10. Resultado de la calibracion</th>    
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <div class="container-fluid" >
                        <table class="table table-striped table-bordered table-sm dt-responsive" style="margin-right: 50%;">
                            <thead>
                                <tr>
                                    <th rowspan="2">VCV de la dosis equivalente personal Hp(10)</th>
                                    <th colspan="2">Antes del ajuste</th>
                                    <th colspan="2">Despues del ajuste</th>
                                    <th rowspan="2">Factor de calibracion (FC)</th>
                                    <th rowspan="2">U</th>
                                </tr>
                                <tr>
                                    <th>Lectura del monitor</th>
                                    <th>Conversion SI(*)</th>
                                    <th>Lectura del monitor</th>
                                    <th>Conversion SI(*)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>25,000.000 µSv</td>
                                    <td>2,474 mrem</td>
                                    <td>24,740 µSv</td>
                                    <td>     -      </td>
                                    <td>     -      </td>
                                    <td>1.01</td>
                                    <td>4.5%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tr>
                <tr>
                    <td>
                    VCV = Valor convencionalmente verdadero = Lectura del equipo x FC
                    </td>
               </tr><br>
                <tr>
                    El simbolo "-" significa que no se realizo dicha medicion (no se realizo ajusto al equipo)
                </tr>
                <br>
                <tr>
                    <th colspan="2">Promedio FC = 1.01</th>
                </tr>
                <tr>
                    <th colspan="2">11. Declaratoria de Conformidad</th>
                </tr>
                <tr>
                    <td colspan="3">Los valores de las lecturas y la incertidumbre expandida estan acorde a las especificaciones del fabricante</td>
                </tr>
            </tbody>
        </table> 
    </div>  
</body>
</html>